/*
 * main-bg-color: #646464
 * main-fg-color: yellow;
 *
 * profile-name-color: #ff9600;
 *
 * hover-bg-color: #464646;
 * hover-fg-color: white;
 *
 * light-transparent-color: rgba(255, 255, 230, 0.8);
 * menu-transparent-color: rgba(150,150,130, 1);
 * menu-fg-color: #ff9600;
 *
 * botclick-bg-color: #007dff;
 * botclick-fg-color: white;
 * botclick_active-bg-color: #0055ff;
 *
 * footer-bg-color: #d6d6d6;
 * footer-fg-color: #202020;
 */

:root{
	--main_bgcolor: #646464;
	--main-fg-color: yellow;

	--profile-name-color: #ff9600;

	--hover-bg-color: #464646;
	--hover-fg-color: white;

	--light-transparent-color: rgba(255, 255, 230, 0.8);
	--menu-transparent-color: rgba(150,150,130, 1);
	--menu-fg-color: #ff9600;

	--botclick-bg-color: #007dff;
	--botclick-fg-color: white;
	--botclick_active-bg-color: #0055ff;

	--footer-bg-color: #d6d6d6;
	--footer-fg-color: #202020;
}
html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline;
	background: #0078ff url("../images/wallpaper_3.jpg");
	background-attachment: fixed;
	background-size: 100%;
	font-family: sans-serif;
}

header{
	background-color: var(--main_bgcolor);
	width: 100%;
	height: 40px;
	color: var(--main-fg-color);
	margin: 0;
	font-family: sans-serif;
	padding: 4px 0;
	box-shadow: 0px 0px 10px;
}

h1, h2, h3, h4, h5, h6{
	padding:0;
	margin:0;
}

header a img{
	height: 40px;
	width: auto;
	float: left;
	margin-left: 7px;
}

header h1{
	display: inline;
	font-size: 35px;
	font-style: italic;
	width: 100%;
	margin-left: 10px;

}

/*
 * Da controllare se va bene in tutto il sito
 */

a{
	text-decoration: none;
	color: black;
}

textarea{
	resize: none;
	width: 98%;
	height: 75px;
	margin: 0 auto;
	padding: 1%;
	border: none;
	margin: 1% 0;
}

#navbar {
	font-size: 20px;
	float: right;
	display: inline;
	margin: inherit;
	text-align: center;
	height: 40px;
	line-height: 0px;
}

#navbar li a{
	text-decoration: none;
	padding: 8px;
	display: inline;
	color: var(--main-fg-color);
	font-weight: bold;
}

#navbar li{
	text-align: right;
	display: inline-block;
}

#navbar li a.nome{
	color: var(--profile-name-color);
	text-transform: uppercase;
	text-decoration: none;
}

#navbar a:hover, #navbar li:active a, #navbar li a.nome:hover{
	color: var(--hover-fg-color);
	background-color: var(--hover-bg-color);
}

#container{
	height: auto;
	min-height: 93%;
	overflow: hidden;
}

footer {
	color: var(--footer-fg-color);
	width: 100%;
	height: 20px;
	background-color: var(--footer-bg-color);
	box-shadow: 0px 0px 10px;
}

footer address{
	float: left;
}

footer small{
	float: right;
}

footer small a{
	text-decoration: none;
}

.left{
	float:left;
}

.right{
	float: right;
}

.existing_user{
	display: none;
}

.existing_user p, .new_user p{
	padding: 0 5%;
	text-align: justify;
}

/*
 * Login and Register css section.
 */

#form {
	width: 30%;
	text-align: center;
	background-color: var(--light-transparent-color);
	border: 4px inset var(--light-transparent-color);
	margin: 5% auto;
}

#form ul{
	vertical-align: center;
	margin-left: -40px;
}

#form small{
	font-family: italic;
}

#form li{
	list-style: none;
	margin: 5px 0;
}

#form small a{
	text-decoration: none;
	color: blue;
}

#form input {
	padding: 2%;
	width: 70%
}

#form input.botclick{
	width: auto;
	font-family: sans-serif;
	background-color: var(--botclick-bg-color);
	color: var(--botclick-fg-color);
	font-weight: bold;
	border: 1px solid #007dff;
	border-radius: 5px;
	margin-top: 2%;
}

#form input.botclick:active{
	background-color: var(--botclick_active-fg-color);
}

#form li select{
	margin-right: 2%;
	padding: 1%;
}

#form li input.time{
	width: auto;
}

.menu_profilo{
	float: left;
	margin: 1% auto;
	clear: both;
}

.menu_profilo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu_profilo ul li a{
	display: block;
	background-color: var(--menu-transparent-color);
	font-size: 20px;
	font-weight: bold;
	font-style: oblique;
	text-decoration: none;
	color: var(--menu-fg-color);
	margin: 0px;
	padding: 6px;
	border: 3px solid var(--light-transparent-color);
	box-shadow: 0px 0px 4px;
}

.menu_profilo li a:hover{
	background-color: var(--hover-bg-color);
	color: var(--hover-fg-color);
}

/*
 * search_bar section
 */

#search_bar{
	width: 50%;
	margin: 1% auto;
	text-align: center;
}

#search_bar input, #search_bar select{
	font-size: 18px;
	padding: 7px;
	border: 2px solid lightblue;
	border-radius: 3px;
}

#search_bar select{
	width: 15%;
}

#search_bar input.cerca{
	width: 70%;
}

#search_bar input.cerca:focus{
	border-bottom: 3px solid red;
	border-radius: 3px;
}

#search_bar input.botclick:hover{
	color: blue;
	background-color: lightblue;
}

/*
 * Palestre section
 */

.palestra{
	margin: 2% auto;
	width: 60%;
	background-color: var(--light-transparent-color);
}

.palestra .tupla {
	width: 98%;
	box-shadow: 0px 0px 10px;
	padding: 1%;
	display: block;
	overflow: hidden;

}


.palestra .tupla .left h2,
.palestra .tupla .left p{
	padding: 1%;
	margin: 0;
}

.palestra .valutazione{
	float: left;
}
.palestra .tupla .left{
	padding-left: 1%;
	width: 18%;
}

.palestra .tupla .right{
	width: 18%;
}

.palestra .tupla.right p{
	margin:0;
}

.palestra .tupla .display_gPropic{
	float: left;
	height: 70px;
	width: 70px;
	margin: auto 0;
}

/*
 * Profilo section
 */

#profilo{
	display: block;
	position: absolute;
}

.propic, .propic_palestra{
	width: 120px;
	height: 120px;
	border: 5px solid var(--light-transparent-color);
	background-color: white;
	box-shadow: 0px 0px 10px;
	float: left;
	margin: 7% 17%;

}

/*
 * Mini form sotto sezione 
 */

.mini_form {
	width: 40%;
	background-color: var(--light-transparent-color);
	border: 4px inset var(--light-transparent-color);
	margin: 5% auto;
	overflow: hidden;
}

.mini_form ul{
	margin: 0px;
	padding: 0 10%;
	padding-top: 2%;
}

.mini_form h2{
	text-align: center;
}

.mini_form ul li label{
	display: inline-block;
	text-align: left;
	width: 50%;
}

.mini_form ul li{
	list-style: none;
	margin: 2% 0;
	text-align: left;
}

.mini_form ul li input{
	width: 60%;
	padding: 2%;
}

.mini_form li small{
	font-size: 10px;
}

.mini_form div{
	margin: 0 auto;
	text-align: center;
}

.mini_form .left,
.mini_form .right{
	display: block;
	text-align: left;
	width: 30%;
	padding: 2%;
}

.mini_form input.botclick{
	width: auto;
	font-family: sans-serif;
	background-color: var(--botclick-bg-color);
	color: var(--botclick-fg-color);
	font-weight: bold;
	border: 1px solid #007dff;
	border-radius: 5px;
	margin: 3% 1%;
	padding: 4%;
}

.mini_form input.botclick:active{
	background-color: var(--botclick_active-bg-color);
}

.mini_form table{
	text-align: center;
	width: 100%;
}

.mini_form select,
.mini_form tr td input{
	text-align: center;
	font-size: 15px;
}

.mini_form tr td input[type=time]{
	padding: 3%;
}

.mini_form ul li input[type=number]{
	width: 12%;
}

/*
 * Modifica profilo
 */

.mini_form.prof{
	padding: 1% 0%;
}


.mini_form h2{
	padding-top: 2%;
}
.mini_form.prof label{
	width: 25%;
}

.mini_form.prof input.botclick{
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}

/*
 * Modifica home
 */

.mini_form.mod_home input.botclick{
	padding: 2%;
}

/*
 * Home palestra
 */

.home_palestra{
	position: absolute;
	display: block;
}

.center{
	width: 60%;
	margin: 2% auto;
	background-color: var(--light-transparent-color);
	box-shadow: 0px 0px 10px;
	border: 4px groove var(--light-transparent-color);
	overflow: auto;
	padding: 1%;
}

#container h3, 
#container h1,
#container h2,
#container h4,
#container h5,
#container h6{
	padding-bottom: 1%;
	margin: 0;
}

.center .right{
	/*width: 22%;*/
}

.center .slogan{
	clear: both;
}

.center .slogan p{
	margin: 0;
	text-align: justify;
}

.center .propic_palestra{
	width: 100px;
	height: 100px;
}

.center .valutazione{
	float: left;
	display: block;
	padding-bottom: 7%;
}

.center .right p{
	margin: 5% 0;
}

.center input.botclick{
	font-size: 15px;
	width: auto;
	font-family: sans-serif;
	background-color: var(--botclick-bg-color);
	color: var(--botclick-fg-color);
	font-weight: bold;
	border: 1px solid #007dff;
	border-radius: 5px;
	margin: 10% 0;
	padding: 5%;
}

.center input.botclick:active{
	background-color: var(--botclick_active-bg-color);
}

.center .tupla{
	padding-top: 2%;
	margin-bottom: 1%;
	overflow: hidden;
	display: block;
	border-bottom: 3px outset var(--light-transparent-color);
	border-radius: 4px;
}

.center .tupla .left div{
	padding-bottom: 1%;
}

.center .tupla .left div h2{
	display: inline;
}

.center p{
	margin: 0;
	padding: 1% 0;
	text-align: justify;
}

/*
 * Sezione per le tuple contenenti i corsi, piccole variazioni
 */

.corso{
	padding: 0% 1%;
}

.corso .tupla .right,
.corso .tupla .right p{
	text-align: right;
}

.corso .tupla .desc{
	width:75%;
}

.corso .tupla .desc p{
	padding: 2% 0;
}

/* Immagine per la modifica dei corsi */

.corso .modify{
	width: 25px;
	height: 25px;
	padding: 2px;
	margin: auto 0px;
	border: 2px outset black;
	vertical-align: bottom;
}

/*
 * Configurazione delle immagini per le valutazioni
 */

.valutazione .img0,
.valutazione .img1,
.valutazione .img2,
.valutazione .img3,
.valutazione .img4{
	width: 27px;
	height: 27px;
	padding: 0 2px;
	margin: 0px -4px;
}

#select{
	margin: 0;
	width: 70%;
	font-size: 12pt;
	padding: 1%;
}

/*
 * Palestre -> utenti
 */

.center .qualifica{
	text-align: center;
}

.center .utenti{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	border-collapse: separate;
}

.center .utenti .start{
	font-size: 13pt;
	font-weight: bold;
}

.center .utenti tr td{
	text-align: left;
	border-bottom: 3px outset var(--light-transparent-color);
	border-radius: 4px;
	padding-top: 3px 0;
}

.center .utenti tr .button{
	width: 0;
}

.center .utenti tr td .botclick{
	padding: 3px;
	margin: 0;
}
